<div class='home'>
<ul>
  <li><a href="../users/list">Home</a></li>
  <li><a href="../users/signin">Sign in</a></li>
  <li><a href="../new">Members</a></li>
  <li><%=link_to 'M',:controller=>'/users',:action=>'list' %></li>
  <li><a href="#">About</a></li>
</ul>
</div>

