<div class='home'>
<ul>
  <li><a href="list">Home</a></li>
<li><%= link_to "Home", root_path %></li>
  <li><a href="signin">Sign in</a></li>
  <li><a href="#">Members</a></li>
  <li><a href="#">About</a></li>
</ul>
</div>

